<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Running Show</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
</head>
<body>
    <header>
        <!-- main project navber  -->
        <nav class="bg-dark">
            <div class="container row m-auto d-flex  align-items-center">
                <div class="logo_container col-md-6 col-6 col-sm-6">
                    <h1 class="text-white">BRAC</h1>
                    <h1 class="text-white">CINEPLEX</h1>
                </div>
                <div class="menus_container col-md-6 col-6 col-sm-6 d-md-flex justify-content-md-end">
                    <a href="/adminpanel/{{user}}" class="btn btn-primary btn-md active" role="button" >Admin Panel</a>
        </div>
        </nav>
    </header>

    {% with messages = get_flashed_messages(with_categories=true) %} 
    {% if messages %} 
        {% for category, message in messages %} 
            {% if category =='error' %}
                <div class="alert alert-danger alter-dismissable fade show" role="alert">
                {{ message }}
                <button type="button" class="close" data-dismiss="alert">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
            {% else %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endif %} 
        {% endfor %} {% endif %} {% endwith %}

<!-- main sign up form content area  -->
    <div>
        <div class="banner bg-transparent p-5 ">
            <div class="form_area card container  w-50 bg-secondary bg-gradient m-auto p-0">
                <div class="card-header  d-flex justify-content-center bg-dark bg-gradient ">
                    <h3 class="text-white">Add New Running Show</h3>
                </div>
                <div class="form card-body">
                    <form action="" method="POST" class=" d-grid gap-2">
                        <label for="Branch_name" class="form-label">Branch name</label>
                        <input type="text" class="form-control" name="Branch_name" id="Branch_name" required>
                        
                        <label for="Hall_no" class="form-label">Hall No.</label>
                        <input type="number" class="form-control" name="Hall_no" id="Hall_no" required>

                        <label for="movie_name" class="form-label">Movie Name</label>
                        <input type="text" class="form-control" name="movie_name" id="movie_name" required>
                        
                        <label for="date" class="form-label">Show Time Date</label>
                        <input type="date" class="form-control" name="date" id="date" placeholder='date' required>
                       
                        <label for="time" class="form-label">Show Time</label>
                        <input type="time" class="form-control" name="time" id="time" required >
                        
                        <input class="btn btn-primary mt-2" type="submit" value="SUBMIT">
                    </form>
                </div>
                
            </div>
        </div>
    </div>
	


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>