<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
</head>
<body>
    <header>
        <!-- main project navber  -->
        <nav class="bg-dark">
            <div class="container row m-auto d-flex  align-items-center">
                <div class="logo_container col-md-6 col-6 col-sm-6">
                    <h1 class="text-white">BRAC</h1>
                    <h1 class="text-white">CINEPLEX</h1>
                </div>
            </div>
        </nav>
    </header>


<!-- main sign up form content area  -->
    <div class="mainbox d-block p-5">
        <h1 class="text-center fw-bolder "><u>WELCOME {{user[3] }}</u></h1>
        <a href="/addMovieInfo/{{user[0]}}" class="d-block text-dark fw-bold">Add Movie Info</a>
        <a href="/addHallInfo/{{user[0]}}"class="d-block text-dark fw-bold">Add New Hall Info</a>
        <a href="/addrunningShow/{{user[0]}}"class="d-block text-dark fw-bold">Add Running Show</a>
        <a href="http://"class="d-block text-dark fw-bold">Remove Running Show</a>
        <a href="/userlist/{{user[0]}}"class="d-block text-dark fw-bold">All Users List</a>
        <a href="/deposite/{{user[0]}}"class="d-block text-dark fw-bold">Deposite Box</a>
        <a href="/transaction/{{user[0]}}"class="d-block text-dark fw-bold">Transaction</a>
        <a href="/booked_seat/{{user[0]}}"class="d-block text-dark fw-bold">Booked seat</a>
    </div>
	
    <style>
        .mainbox{
            height: 80vh;
            background-color: aquamarine;
            list-style: none;
            font-size: larger;

        }
    </style>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>