<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TVA Cinemaplex | Dash Board</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>
<body>
    <header>
        <!-- main project navber  -->
        <nav class="bg-dark">
            <div class="container row m-auto d-flex  align-items-center">
                <div class="logo_container col-md-6 col-6 col-sm-6">
                    <a href="/" class="link-underline link-underline-opacity-0">
                        <h1 class="orange">TVA</h1>
                        <h1 class="text-white">CINEMAPLEX</h1>
                    </a>
                </div>
                <div class="menus_container dropdown  col-md-6 col-6 col-sm-6 d-md-flex justify-content-md-end">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{user[1]}}
                      </a>
                    
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/profile/{{user[0]}}">Profile</a></li>
                        <li><a class="dropdown-item" href="/update_password/{{user[0]}}">Change Password</a></li>
                        <li><a class="dropdown-item" href="/login">Sign Out</a></li>
                      </ul>
                </div>
        </nav>
    </header>

<div class=" profileclr ">
    <div class="container d-flex justify-content-between">
        <!-- left area/location movie -->
        <div class="left">
            
            <h5 class="fw-semibold my-3">Show Time of {{selectmovie}} in {{location}}</h5>
            <br>
            <div class="moviees row ">       
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Show Id</th>
                            <th scope="col">Hall No</th>
                            <th scope="col">Date Time</th>
                          </tr>
                        </thead>
                        <tbody>
                            {%for hallshow in hallshowinfo%}
                                <tr>
                                    <td>{{hallshow[2]}}</td>
                                    <td>{{hallshow[0]}}</td>
                                    <td>{{hallshow[1]}}</td>
                                </tr>
                          {%endfor%}
                        </tbody>
                    </table>
            </div>
            <h5 class="fw-semibold">Select Show Time</h5><br>
            <div class="form-floating mb-3">
                <form action="" method="post">
                    <select name="selectedshow" id="selectedshow">
                        <option selected>Select Any Shows</option>
                        {%for hallshowinfoo in hallshowinfo%}
                        <option value='{{hallshowinfoo}}'>Hall {{hallshowinfoo[0]}},{{hallshowinfoo[1]}} </option>
                        {%endfor%}
                    </select><br>
                    <h5 class="fw-semibold mt-3">Select Seat </h5>
                    <select name="selectedrow" id="selectedrow">
                        <option selected>Select Any Row</option>
                        <option value="A">A</option>
                        <option value="B">B</option>
                        <option value="C">C</option>
                        <option value="D">D</option>
                        <option value="E">E</option>
                        <option value="F">F</option>
                        <option value="G">G</option>
                        <option value="H">H</option>
                        <option value="I">I</option>
                        <option value="J">J</option>
                        <option value="K">K</option>
                        <option value="L">L</option>
                    </select>
                    <select name="selectedcolumn" id="selectedcolumn">
                        <option selected>Select Any Column</option>
                        {%for i in range(1,16)%}
                            <option value="{{i}}">{{i}}</option>
                            {%endfor%}
                    </select>
                    <input class="btn btn-primary my-3" type="submit" value="Submit">
                </form>
            </div>

            {%if condition==True%}
                <h5 class="fw-semibold text-success">Seat AVAILABLE</h5>
            {%elif condition==False%}
                <h5 class="fw-semibold text-danger">Sorry this seat is not AVAILABLE!!!</h5>
            {%endif%}
   
        </div>        

        <!-- right area/tickets summary  -->
        <div class="right movie_popup">
            <div class="card my-4" aria-hidden="true">
                {%if movieinfo%}
                    <img style="margin-left: 10px;margin-top: 10px; width: 7rem; height: 8rem;" src={{movieinfo[7]}} class="card-img-top" alt="...">
                {% else %}
                    <img style="margin-left: 10px;margin-top: 10px; width: 7rem; height: 8rem;" src="https://img.freepik.com/free-photo/abstract-textured-backgound_1258-30454.jpg?w=826&t=st=1701380774~exp=1701381374~hmac=25a380b0545a52ac929d6c5db49938936aa91a6ca69070f5ac01bd874641df30" class="card-img-top" alt="...">
                {%endif%}
                <div class="card-body">
                    <h5 class="card-title placeholder-glow">
                        {%if movieinfo%}
                            {{movieinfo[1]}}
                        {% else %}
                            <span class="placeholder col-5"></span>
                        {%endif%}
                    </h5>
                    <p class="card-text placeholder-glow">
                        {%if movieinfo%}
                            <p style="font-size: small;">Director: {{movieinfo[3]}}</p>
                        {% else %}
                            <span class="placeholder col-4"></span>
                        {%endif%}
                    </p>
                    <p class="card-text placeholder-glow">
                        {%if movieinfo%}
                            <p style="font-size: small;">Cast: {{movieinfo[4]}}</p>
                        {% else %}
                            <span class="placeholder col-4"></span>
                        {%endif%}
                    </p>
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Location</th>
                            <th></th>
                            <td>{{location}}</td>
                          </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">Hall No.</th>
                                <td></td>
                                {%if hallno %}
                                    <td>{{hallno}}</td>
                                {%else%}
                                    <td>---</td>
                                {%endif%}
                              </tr>
                          <tr>
                            <th scope="row">Show Date</th>
                            <td></td>
                            {%if showdate %}
                                <td>{{showdate}}</td>
                            {%else%}
                                <td>---</td>
                            {%endif%}
                          </tr>
                          <tr>
                            <th scope="row">Show Time</th>
                            <td></td>
                            {%if showtime %}
                                <td>{{showtime}}</td>
                            {%else%}
                                <td>---</td>
                            {%endif%}
                          </tr>
                          <tr>
                            <th scope="row">Seat Type</th>
                            <td></td>
                            {%if halltype %}
                                <td>{{halltype}}</td>
                            {%else%}
                                <td>---</td>
                            {%endif%}
                          </tr>
                          <tr>
                            <th scope="row">Selected Seat</th>
                            <td></td>
                            {%if seat %}
                                <td>{{seat}}</td>
                            {%else%}
                                <td>---</td>
                            {%endif%}
                          </tr>
                          <tr>
                            <th scope="row">Total Amount</th>
                            <td></td>
                            {%if amount %}
                                <td>{{amount}}</td>
                            {%else%}
                                <td>---</td>
                            {%endif%}
                          </tr>
                        </tbody>
                      </table>
                    {%if condition%}
                        <div class="text-center">
                            <a class="btn btn-primary" href="{{ url_for('views.purchase', id=id, location=location, movie=movie,showid=showid, hallno=hallno, showdate=showdate, showtime=showtime, seat=seat) }}">Purchase Now</a>

                        </div>
                    {%else%}

                    {%endif%}
                </div>
                
            </div>
        </div>
        
    </div>
</div>
	
<!-- Footer section -->
<footer class="footer-distributed">
    <div class="footer-left">
        <h3 class="orange"><span class="orange">TVA</span> <span>Cinemaplex</span></h3>
        <p class="footer-links">
            <a href="#" class="link-1">Home</a>
            
            <a href="#">Blog</a>
        
            <a href="#">Pricing</a>
        
            <a href="#">About</a>
            
            <a href="#">Faq</a>
            
            <a href="#">Contact</a>
        </p>
        <p class="footer-company-name">TVA Cinemaplex © 2023</p>
    </div>

    <div class="footer-center">
        <div>
            <i class="fas fa-map-marker-alt"></i>
            <p><span>Mirpur-1 / Savar / Bashundara</span> Dhaka, Bangladesh</p>
        </div>
        <div>
            <i class="fas fa-phone"></i>
            <p>+8801222334456</p>
        </div>
        <div>
            <i class="far fa-envelope"></i>
            <p><a href="mailto:support@company.com">support@tvacinemaplex.com</a></p>
        </div>
    </div>

    <div class="footer-right">
        <p class="footer-company-about">
            <span>About the company</span>
            TVA Cinemaplex: where movies come alive
        </p>
        <div class="footer-icons">
            <a href="#"><i class="fab fa-facebook"></i></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></i></a>
            <a href="#"><i class="fab fa-github"></i></i></a>

        </div>
    </div>

</footer>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script></body>
</html>