<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TVA Cinemaplex | Dash Board</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <header>
        <!-- main project navber  -->
        <nav class="">
            <div class="container row m-auto d-flex  align-items-center">
                <div class="logo_container col-md-6 col-6 col-sm-6">
                    <a href="/" class="link-underline link-underline-opacity-0">
                        <h1 class="orange">TVA</h1>
                        <h1 class="text-white">CINEMAPLEX</h1>
                        <h3 class= "text-white">Where movie comes alive!</h3>
                    </a>
                </div>
                <div class="menus_container dropdown  col-md-6 col-6 col-sm-6 d-md-flex justify-content-md-end">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        {{user[1]}}
                      </a>
                    
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/profile/{{user[0]}}">Profile</a></li>
                        <li><a class="dropdown-item" href="/update_password/{{user[0]}}">Change Password</a></li>
                        <li><a class="dropdown-item" href="/login">Sign Out</a></li>
                      </ul>
                </div>
        </nav>
    </header>

<div class=" profileclr ">
    <div class="container d-flex justify-content-between">
        <!-- left area/location movie -->
        <div class="left">
            <div class="dropdownsection my-4">
                <form action="/dashboard/{{id}}" method="post">
                  <label for="location" class="fw-semibold text-white">Location </label><br>
                  <select name="location" id="location">
                    <option selected>Select the location</option>
                    {%for location in locations%}
                      <option value="{{location[0]}}">{{location[0]}}</option>
                    {% endfor%}
                  </select>
                  <input class="btn btn-primary "  type="submit" value="Submit">
                </form> 
            </div>
            <br>
            {%if loccon%}
              <div>
                  <h5 class="fw-semibold text-white">Running Movies in {{selectedl}} Branch </h5>
                  <br>
                  <div class="moviees row ">
                      {%for movie in movies%}
                        <div class="card col-4 gap-1 mb-4 mx-3 p-0 " style="width: 13rem;">
                          <img src="{{movie[4]}}" class="card-img-top rounded " style="height: 17rem; width: 13rem;" alt="...">
                        </div>
                      {%endfor%}
                  </div>

                  <h5 class="fw-semibold text-white">Select Movie</h5><br>
                  <a href="/dashboard/{{id}}/{{selectedl}}" class="btn btn-primary my-3">Select Movie</a>
              </div>
            {%else%}

            {%endif%}
        </div>
        

        <!-- right area/tickets summary  -->
        <div class="right movie_popup">
            <div class="card my-4" aria-hidden="true">
                <img style="margin-left: 10px;margin-top: 10px; width: 7rem; height: 8rem;" src="https://img.freepik.com/free-photo/abstract-textured-backgound_1258-30454.jpg?w=826&t=st=1701380774~exp=1701381374~hmac=25a380b0545a52ac929d6c5db49938936aa91a6ca69070f5ac01bd874641df30" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title placeholder-glow">
                        <span class="placeholder col-5"></span>
                    </h5>
                    <p class="card-text placeholder-glow">
                        <span class="placeholder col-4"></span>
                    </p>
                    <p class="card-text placeholder-glow">
                        <span class="placeholder col-3"></span>
                    </p>
                    <table class="table">
                        <thead>
                          <tr>
                            <th scope="col">Location</th>
                            <th></th>
                            <td>{{selectedl}}</td>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th scope="row">Hall No.</th>
                            <td></td>
                            <td>---</td>
                          </tr>
                          <tr>
                            <th scope="row">Show Date</th>
                            <td></td>
                            <td>---</td>
                          </tr>
                          <tr>
                            <th scope="row">Show Time</th>
                            <td></td>
                            <td>---</td>
                          </tr>
                          <tr>
                            <th scope="row">Seat Type</th>
                            <td></td>
                            <td >---</td>
                          </tr>
                          <tr>
                            <th scope="row">Selected Seat</th>
                            <td></td>
                            <td >---</td>
                          </tr>
                          <tr>
                            <th scope="row">Total Amount</th>
                            <td></td>
                            <td >---</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
        
    </div>
</div>
	
<!-- Footer section -->
<footer class="footer-distributed">
    <div class="footer-left">
        <h3 class="orange"><span class="orange">TVA</span> <span>Cinemaplex</span></h3>
        <p class="footer-links">
            <a href="#" class="link-1">Home</a>
            
            <a href="#">Blog</a>
        
            <a href="#">Pricing</a>
        
            <a href="#">About</a>
            
            <a href="#">Faq</a>
            
            <a href="#">Contact</a>
        </p>
        <p class="footer-company-name">TVA Cinemaplex © 2023</p>
    </div>

    <div class="footer-center">
        <div>
            <i class="fas fa-map-marker-alt"></i>
            <p><span>Mirpur-1 / Savar / Bashundara</span> Dhaka, Bangladesh</p>
        </div>
        <div>
            <i class="fas fa-phone"></i>
            <p>+8801222334456</p>
        </div>
        <div>
            <i class="far fa-envelope"></i>
            <p><a href="mailto:support@company.com">support@tvacinemaplex.com</a></p>
        </div>
    </div>

    <div class="footer-right">
        <p class="footer-company-about">
            <span>About the company</span>
            TVA Cinemaplex: where movies come alive
        </p>
        <div class="footer-icons">
            <a href="#"><i class="fab fa-facebook"></i></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-linkedin"></i></i></a>
            <a href="#"><i class="fab fa-github"></i></i></a>

        </div>
    </div>

</footer>

<style>
  body 
  {
    background-image: url("https://img.freepik.com/premium-photo/tunnel-with-red-lights-red-led-light_910135-11536.jpg?w=826");

}
</style>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script></body>
</html>